*{
    font-family: 'Roboto';
    font-size: 25px;
}

.tituloP{
    text-align: left;
    color: white;
}

.mensagemSucesso{
    text-align: center;
}

.tituloMeio{
    text-align: center;
}

.botao{
    text-align: right;
}

.img{
    background-image: url(../image/the-curve-by-genuwine-cellars-genuwine-cellars-img~d291737e076d3fb7_14-9340-1-ff40c53.jpg);
}

.Plinha{
    background-image: none;
    text-align: center;
    color: white;
    background-color: #444444;
}

.LPlinha{
    background-image: none;
    text-align: left;
    color: white;
    background-color: #444444;
}