*{
    font-family: 'Roboto';
    font-size: 25px;
}

.tituloP{
    text-align: left;
}

.mensagemSucesso{
    text-align: center;
}

.tituloMeio{
    text-align: center;
}

.botao{
    text-align: right;
}
